__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

.vscode/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db

notebook/frames
anaconda_projects/
anaconda_projects/db/*.db
anaconda_projects/db/*.sqlite
anaconda_projects/db/*.sqlite3

models/*.pt
models/*.pth
models/*.ckpt
models/*.h5
models/*.onnx

results/*.png
results/*.jpg
results/*.jpeg
results/*.pdf
results/*.csv
